apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: voter-api
  labels:
    app: voter
  name: voter
spec:
  replicas: 3
  strategy: {}
  template:
    metadata:
      labels:
        app: voter
        version: v1
    spec:
      containers:
      - image: garystafford/voter-service:kub-aks-0.5.250
        name: voter
        ports:
        - containerPort: 8080
        # readinessProbe:
        #   httpGet:
        #     path: /voter/health
        #     port: 8080
        #   initialDelaySeconds: 5
        #   timeoutSeconds: 1
        #   periodSeconds: 15
        # livenessProbe:
        #   httpGet:
        #     path: /voter/health
        #     port: 8080
        #   initialDelaySeconds: 15
        #   timeoutSeconds: 1
        #   periodSeconds: 15
        env:
          - name: JAVA_OPTS
            value: "-Dhttps.protocols=TLSv1.2"
          - name: AZURE_SERVICE_BUS_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: azure-service-bus
                key: connection-string
          - name: SPRING_DATA_MONGODB_URI
            valueFrom:
              secretKeyRef:
                name: azure-cosmosdb-voter
                key: connection-string
        command: ["/bin/sh"]
        args: ["-c", "java -Dspring.profiles.active=kub-aks -Dlogging.level.root=DEBUG -Djava.security.egd=file:/dev/./urandom -jar /voter/voter-service.jar"]
        imagePullPolicy: Always
      restartPolicy: Always
status: {}
