apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: client
  name: client
spec:
  type: LoadBalancer
  ports:
  - name: "80"
    port: 80
    targetPort: 8080
  selector:
    io.kompose.service: client
status:
  loadBalancer: {}
